{% extends 'storage/main.html'%}
{%block content%}

<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body" style = 'background-color:silver'>
            <h2 style = 'color:white'>All Samples</h2>
            <div class = 'container-add'>
                <a class = 'btn btn-info' href="{% url 'new_sample' %}">Add New Sample</a>
                <a class = 'btn btn-primary' href="{% url 'new_var' %}">Add New Column</a>
            </div>
        </div>
        <div class="card card-body">
            <table class="table table-striped">
                <tr class = 'table-dark' style="text-align:center">
                    <th>Name</th>
                    <th>Case</th>
                    <th>Braak Stage</th>
                    <th>Date Received</th>
                    <th>Description</th>
                    <th>Age at Death</th>
                    <th>Time of Death</th>
                    <th>Sex</th>
                    {% for c in columns %}
                    <th>
                    <a class = 'btn btn-info btn-sm' href="{% url 'update_var' c.id %}">{{c.title}}</a>
                        <a class = 'btn btn-danger btn-sm' href="{% url 'delete_var' c.id%}">&#215;</a>
                    </th>
                        {%endfor%}
                    <th></th>
                </tr>

                {% for i in samples %}
                <tr style="text-align:center">
                    <td>{{i.name}}</td>
                    <td>{{i.case}}</td>
                    <td>{{i.braak}}</td>
                    <td>{{i.date_received|default_if_none:"---"}}</td>
                    <td>{{i.description|default_if_none:"---"}}</td>
                    <td>{{i.age_at_death|default_if_none:"---"}}</td>
                    <td>{{i.time_of_death|default_if_none:"---"}}</td>
                    <td>{{i.sex|default_if_none:"---"}}</td>
                    <td>{{i.custom1|default_if_none:"---"}}</td>
                    <td>{{i.custom2|default_if_none:"---"}}</td>
                    <td>{{i.custom3|default_if_none:"---"}}</td>
                    <td><a class = 'btn btn-primary btn-sm' href="{% url 'update_sample' i.id %}">Update</a>
                    <a class = 'btn btn-danger btn-sm' href="{% url 'delete_sample' i.id %}"> Delete </a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>

{%endblock content%}
